@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
}

header {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6600;
}

nav ul li a.active {
    color: #ff6600;
}

#tarjeta {
    padding: 50px 20px;
    text-align: center;
}

.plato_especial {
    margin-bottom: 30px;
}

.plato_especial h3 {
    font-size: 24px;
}

.plato_especial p {
    font-size: 18px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
